@model Datacom.CorporateSys.Hire.ViewModels.ExamViewModel

@{
    ViewBag.Title = "Datacom internal interview exam";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <h3>You are logged in as: @Html.DisplayFor(model => model.Candidate.FirstName) @Html.DisplayFor(model => model.Candidate.LastName)</h3>
    </p>
    
    <p>
        Examiner = @Html.DisplayFor(model => model.Exam.Examiner)
    </p>
    
    <p>
        Total Questions = @Html.DisplayFor(model => model.Exam.Questions.ToList().Count)
    </p>
    
    <p>
        <table>
        <tr>
            <td colspan="2">
                <b>uestion 1 = @Html.DisplayFor(model => model.Exam.Questions.First().Text)</b>
            </td>
        </tr>
        @foreach (var option in Model.Exam.Questions.First().Options)
        {
            <tr>
                <td>
                    @Html.RadioButtonFor(b => b.Exam.Questions.First().Id, option.Id,true) 
                </td>
                <td>
                    @option.Text
                </td>
            </tr>
        }
        </table>
</p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Exam", "Exam", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>