@using Newtonsoft.Json
@model Datacom.CorporateSys.HireAPI.Question

@{
    Layout = null;
}

<table>
    <tr>
        <td colspan="2">
            <b>Category : @Html.DisplayFor(model => model.CategoryName)</b>
            <br />
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <b>Question @Html.DisplayFor(model => model.Sequence) : @Html.DisplayFor(model => model.Text)</b>
        </td>
    </tr>
    @foreach (var option in Model.Options)
    {
        <tr>
            <td>
                @{
                   bool checkOption = (Model.SelectedOption != null && Model.SelectedOption.Id == option.Id);
                   bool disableOption = (Model.SelectedOption != null);
                   var array = new Dictionary<string, object>();
                   if(checkOption)
                   { array.Add("checked", "checked"); }
                   if (disableOption)
                   { array.Add("disabled", "disabled"); }
               }
                <!--http://msdn.microsoft.com/en-us/library/dd410596.aspx-->
                @Html.RadioButtonFor(model => model.SelectedOptionJSON, Newtonsoft.Json.JsonConvert.SerializeObject(option), array) <!--disabled=(Model.SelectedOption != null)?"disabled":"" -->
                <!--Html.RadioButton("Buyer", "Buyer", new { onchange = "this.form.submit();" })-->
            </td>
            <td>
                @option.Text
            </td>
        </tr>
        <tr>
            <td>
                @if (false)
                {

                    Html.RenderPartial("~/Views/Exam/QuestionControl.cshtml", Model);

                }
            </td>
        </tr>
    }
    
    <tr><td colspan="2">
            @if (Model.SelectedOption == null)
            {
                <input type='submit' value='Confirm Answer' />
            }
            else
            {

            }
        </td></tr>
</table>